._1wkq7nfd{
  top: 40px !important;
}

._1wkq7nf0 ._1wkq7nf5 {
  top: 12vh !important;
}

/* For screens up to 720px (mobile/tablet) */
@media (max-width: 720px) {
  ._1wkq7nf0 ._1wkq7nf5 {
    top: 5vh !important;
  }
  ._1wkq7nfd{
  top: 20px !important;
  }
}